html {
	margin:0;
	padding:0;
	border:0;
}

body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

article, aside, dialog, figure, footer, header,
hgroup, nav, section {
	display:block;
}

body {
	background: white;
  font-family:"Verdana";
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
	float:none !important;
}
table, th, td {
	vertical-align: middle;
}

blockquote:before, blockquote:after, q:before, q:after { content: ''; }
blockquote, q { quotes: "" ""; }

a img { border: none; }

/*:focus { outline: 0; }*/
div#header
{
    width:100%;
    float:left;
    border-bottom:2px #000 solid;
}

h2.pagetitle
{
    font-size:45px;
    font-weight:bold;
    padding-left:10px;
}

div#tweetsbox
{
    margin-top:50px;
    width:100%;
}

div.tweet 
{
    height:65px;
    padding:5px;
    border-bottom:1px #eeeeee solid;
}

div.tweet:hover
{
    background:#eee;
} 

div.tweet img.tweet
{
    padding-right:4px;
    width:48px;
    height:48px;
    float:left;
}

div.tweet p.user
{
    height:0px;
    font-size:16px;
    font-weight:bold;
    margin:0px;
    margin-bottom:22px;
}

div.tweet p.text
{
    width:90%;
    font-size:12px;
}

div#inputbar
{
    padding:5px;
    height:40px;
    border-bottom:1px #eeeeee solid;
}

input#tag
{
    margin-top:5px;
    width:99%;
    height:30px;
    font-size:24px;
    border:1px #000 solid;
    border-radius:8px;
    padding:3px;
}